vacp-ws-client/src/main/resources/wsdl/VACP_Schema_1_101.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:schemas-visa-com:transaction-data-1.101" targetNamespace="urn:schemas-visa-com:transaction-data-1.101" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:simpleType name="amount">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="boolean">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="dateTime">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:complexType name="Item">
		<xsd:sequence>
			<xsd:element name="unitPrice" type="tns:amount" minOccurs="0"/>
			<xsd:element name="quantity" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="taxAmount" type="tns:amount" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:integer" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="CCAuthService">
		<xsd:sequence>
			<xsd:element name="cavv" type="xsd:string" minOccurs="0"/>
			<xsd:element name="commerceIndicator" type="xsd:string" minOccurs="0"/>
			<xsd:element name="eciRaw" type="xsd:string" minOccurs="0"/>
			<xsd:element name="xid" type="xsd:string" minOccurs="0"/>
			<xsd:element name="reconciliationID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="returnAuthRecord" type="tns:boolean" minOccurs="0"/>
			<xsd:element name="authType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="verbalAuthCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="partialAuthIndicator" type="tns:boolean" minOccurs="0"/>
			<xsd:element name="captureDate" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="run" type="tns:boolean" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="CCCaptureService">
		<xsd:sequence>
			<xsd:element name="authType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="verbalAuthCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="authRequestID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="industryDatatype" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gratuityAmount" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="run" type="tns:boolean" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="CCCreditService">
		<xsd:sequence>
			<xsd:element name="captureRequestID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="commerceIndicator" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="run" type="tns:boolean" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="CCAuthReversalService">
		<xsd:sequence>
			<xsd:element name="authRequestID" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="run" type="tns:boolean" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="VoidService">
		<xsd:sequence>
			<xsd:element name="voidRequestID" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="run" type="tns:boolean" use="required"/>
	</xsd:complexType>
	<!--PinDebitPurchaseService-->
    <xsd:complexType name="PinDebitPurchaseService">
        <xsd:sequence>
            <xsd:element name="networkOrder" type="xsd:string" minOccurs="0"/>
            <xsd:element name="commerceIndicator" type="xsd:string" minOccurs="0"/>
            <xsd:element name="reconciliationID" type="xsd:string" minOccurs="0"/>
            <xsd:element name="partialAuthIndicator" type="tns:boolean" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute name="run" type="tns:boolean" use="required"/>
    </xsd:complexType>
    <!--End of PinDebitPurchaseService-->
    <!--PinDebitCreditService-->
    <xsd:complexType name="PinDebitCreditService">
        <xsd:sequence>
            <xsd:element name="networkOrder" type="xsd:string" minOccurs="0"/>
            <xsd:element name="commerceIndicator" type="xsd:string" minOccurs="0"/>
            <xsd:element name="reconciliationID" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute name="run" type="tns:boolean" use="required"/>
    </xsd:complexType>
    <!--End of PinDebitCreditService-->
    <!--PinDebitReversalService-->
    <xsd:complexType name="PinDebitReversalService">
        <xsd:sequence>
            <xsd:element name="pinDebitRequestID" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute name="run" type="tns:boolean" use="required"/>
    </xsd:complexType>
    <!--End of PinDebitReversalService-->
	<xsd:complexType name="InvoiceHeader">
		<xsd:sequence>
			<xsd:element name="merchantDescriptor" type="xsd:string" minOccurs="0"/>
			<xsd:element name="merchantDescriptorContact" type="xsd:string" minOccurs="0"/>
			<xsd:element name="merchantDescriptorAlternate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="merchantDescriptorStreet" type="xsd:string" minOccurs="0"/>
			<xsd:element name="merchantDescriptorCity" type="xsd:string" minOccurs="0"/>
			<xsd:element name="merchantDescriptorState" type="xsd:string" minOccurs="0"/>
			<xsd:element name="merchantDescriptorPostalCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="merchantDescriptorCountry" type="xsd:string" minOccurs="0"/>
			<xsd:element name="userPO" type="xsd:string" minOccurs="0"/>
			<xsd:element name="taxable" type="tns:boolean" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BusinessRules">
		<xsd:sequence>
			<xsd:element name="ignoreAVSResult" type="tns:boolean" minOccurs="0"/>
			<xsd:element name="ignoreCVResult" type="tns:boolean" minOccurs="0"/>
			<xsd:element name="declineAVSFlags" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BillTo">
		<xsd:sequence>
			<xsd:element name="firstName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="lastName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="buildingNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="street1" type="xsd:string" minOccurs="0"/>
			<xsd:element name="street2" type="xsd:string" minOccurs="0"/>
			<xsd:element name="city" type="xsd:string" minOccurs="0"/>
			<xsd:element name="state" type="xsd:string" minOccurs="0"/>
			<xsd:element name="postalCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="country" type="xsd:string" minOccurs="0"/>
			<xsd:element name="company" type="xsd:string" minOccurs="0"/>
			<xsd:element name="phoneNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="email" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ipAddress" type="xsd:string" minOccurs="0"/>
			<xsd:element name="hostname" type="xsd:string" minOccurs="0"/>
			<xsd:element name="customerID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="httpBrowserType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="personalID" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ShipTo">
		<xsd:sequence>
			<xsd:element name="firstName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="lastName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="street1" type="xsd:string" minOccurs="0"/>
			<xsd:element name="street2" type="xsd:string" minOccurs="0"/>
			<xsd:element name="state" type="xsd:string" minOccurs="0"/>
			<xsd:element name="postalCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="country" type="xsd:string" minOccurs="0"/>
			<xsd:element name="shippingMethod" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ShipFrom">
		<xsd:sequence>
			<xsd:element name="postalCode" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Card">
		<xsd:sequence>
			<xsd:element name="accountNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="expirationMonth" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="expirationYear" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="cvIndicator" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cvNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cardType" type="xsd:string" minOccurs="0"/>
          		<xsd:element name="encryptedData" type="xsd:string" minOccurs="0"/>
           		<xsd:element name="suffix" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PurchaseTotals">
		<xsd:sequence>
			<xsd:element name="currency" type="xsd:string" minOccurs="0"/>
			<xsd:element name="grandTotalAmount" type="tns:amount" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UCAF">
		<xsd:sequence>
			<xsd:element name="authenticationData" type="xsd:string" minOccurs="0"/>
			<xsd:element name="collectionIndicator" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PaymentNetworkToken">
        <xsd:sequence>
        		<xsd:element name="requestorID" type="xsd:string" minOccurs="0"/>
           	<xsd:element name="assuranceLevel" type="xsd:string" minOccurs="0"/>
            	<xsd:element name="accountStatus" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RequestMessage">
		<xsd:sequence>
			<xsd:element name="merchantID" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="merchantReferenceCode" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="invoiceHeader" type="tns:InvoiceHeader"
				minOccurs="0" />
			<xsd:element name="billTo" type="tns:BillTo" minOccurs="0" />
			<xsd:element name="shipTo" type="tns:ShipTo" minOccurs="0" />
			<xsd:element name="shipFrom" type="tns:ShipFrom"
				minOccurs="0" />
			<xsd:element name="item" type="tns:Item" minOccurs="0"
				maxOccurs="unbounded" />
			<xsd:element name="purchaseTotals" type="tns:PurchaseTotals"
				minOccurs="0" />
			<xsd:element name="pos" type="tns:Pos" minOccurs="0" />
			<xsd:element name="installment" type="tns:Installment"
				minOccurs="0" />
			<xsd:element name="card" type="tns:Card" minOccurs="0" />
			<xsd:element name="ucaf" type="tns:UCAF" minOccurs="0" />
			<xsd:element name="linkToRequest" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="ccAuthService" type="tns:CCAuthService"
				minOccurs="0" />
			<xsd:element name="ccCaptureService"
				type="tns:CCCaptureService" minOccurs="0" />
			<xsd:element name="ccCreditService"
				type="tns:CCCreditService" minOccurs="0" />
			<xsd:element name="ccAuthReversalService"
				type="tns:CCAuthReversalService" minOccurs="0" />
			<xsd:element name="voidService" type="tns:VoidService"
				minOccurs="0" />
			<xsd:element name="businessRules" type="tns:BusinessRules"
				minOccurs="0" />
			<xsd:element name="thirdPartyCertificationNumber" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="surchargeAmount" type="tns:amount" minOccurs="0"/>
            		<xsd:element name="surchargeSign" type="xsd:string" minOccurs="0"/>
        	        <xsd:element name="pinDataEncryptedPIN" type="xsd:string" minOccurs="0"/>
            		<xsd:element name="pinDataKeySerialNumber" type="xsd:string" minOccurs="0"/>
            		<xsd:element name="cashbackAmount" type="tns:amount" minOccurs="0"/>
            		<xsd:element name="pinDebitPurchaseService" type="tns:PinDebitPurchaseService" minOccurs="0"/>
            		<xsd:element name="pinDebitCreditService" type="tns:PinDebitCreditService" minOccurs="0"/>
            		<xsd:element name="pinDebitReversalService" type="tns:PinDebitReversalService" minOccurs="0"/>
			<xsd:element name="emvRequest" type="tns:EmvRequest" minOccurs="0"/>
			<xsd:element name="merchantTransactionIdentifier" type="xsd:string" minOccurs="0"/>
	    		<xsd:element name="paymentInitiationChannel" type="xsd:string" minOccurs="0" />
		        <xsd:element name="extendedCreditTotalCount" type="xsd:string" minOccurs="0" />
			<xsd:element name="authIndicator" type="xsd:string" minOccurs="0"/>
        		<xsd:element name="paymentNetworkToken" type="tns:PaymentNetworkToken" minOccurs="0"/>		
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Promotion">
		 <xsd:sequence>
 			 <xsd:element name="discountedAmount" type="tns:amount" minOccurs="0" /> 
 			 <xsd:element name="type" type="xsd:string" minOccurs="0" /> 
 			 <xsd:element name="code" type="xsd:string" minOccurs="0" /> 
 			 <xsd:element name="receiptData" type="xsd:string" minOccurs="0" /> 
  			<xsd:element name="discountApplied" type="tns:amount" minOccurs="0" /> 
 			 <xsd:element name="description" type="xsd:string" minOccurs="0" /> 
  		</xsd:sequence>
 	 </xsd:complexType>

	<xsd:complexType name="CCAuthReply">
		<xsd:sequence>
			<xsd:element name="reasonCode" type="xsd:integer"/>
			<xsd:element name="amount" type="tns:amount" minOccurs="0"/>
			<xsd:element name="authorizationCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="avsCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="avsCodeRaw" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cvCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cvCodeRaw" type="xsd:string" minOccurs="0"/>
			<xsd:element name="personalIDCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="authorizedDateTime" type="tns:dateTime" minOccurs="0"/>
			<!-- dateTime -->
			<xsd:element name="processorResponse" type="xsd:string" minOccurs="0"/>
			<xsd:element name="reconciliationID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="authRecord" type="xsd:string" minOccurs="0"/>
			<xsd:element name="merchantAdviceCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="merchantAdviceCodeRaw" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cavvResponseCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cavvResponseCodeRaw" type="xsd:string" minOccurs="0"/>
			<xsd:element name="accountBalance" type="tns:amount" minOccurs="0"/>
			<xsd:element name="paymentNetworkTransactionID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cardCategory" type="xsd:string" minOccurs="0"/>
			<xsd:element name="requestAmount" type="tns:amount" minOccurs="0"/>
			<xsd:element name="requestCurrency" type="xsd:string" minOccurs="0"/>
			<xsd:element name="accountBalanceCurrency" type="xsd:string" minOccurs="0"/>
			<xsd:element name="accountBalanceSign" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cardGroup" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CCCaptureReply">
		<xsd:sequence>
			<xsd:element name="reasonCode" type="xsd:integer"/>
			<xsd:element name="requestDateTime" type="tns:dateTime" minOccurs="0"/>
			<xsd:element name="amount" type="tns:amount" minOccurs="0"/>
			<xsd:element name="reconciliationID" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CCCreditReply">
		<xsd:sequence>
			<xsd:element name="reasonCode" type="xsd:integer"/>
			<xsd:element name="requestDateTime" type="tns:dateTime" minOccurs="0"/>
			<xsd:element name="amount" type="tns:amount" minOccurs="0"/>
			<xsd:element name="reconciliationID" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
    <xsd:complexType name="PinDebitPurchaseReply">
        <xsd:sequence>
            <xsd:element name="reasonCode" type="xsd:integer"/>
            <xsd:element name="processorResponse" type="xsd:string" minOccurs="0"/>
            <xsd:element name="authorizationCode" type="xsd:string" minOccurs="0"/>
            <xsd:element name="reconciliationID" type="xsd:string" minOccurs="0"/>
            <xsd:element name="networkCode" type="xsd:string" minOccurs="0"/>
            <xsd:element name="transactionID" type="xsd:string" minOccurs="0"/>
            <xsd:element name="requestAmount" type="tns:amount" minOccurs="0"/>
            <xsd:element name="requestCurrency" type="xsd:string" minOccurs="0"/>
            <xsd:element name="amount" type="tns:amount" minOccurs="0"/>
            <xsd:element name="dateTime" type="tns:dateTime" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PinDebitCreditReply">
        <xsd:sequence>
            <xsd:element name="reasonCode" type="xsd:integer"/>
            <xsd:element name="processorResponse" type="xsd:string" minOccurs="0"/>
            <xsd:element name="authorizationCode" type="xsd:string" minOccurs="0"/>
            <xsd:element name="reconciliationID" type="xsd:string" minOccurs="0"/>
            <xsd:element name="networkCode" type="xsd:string" minOccurs="0"/>
            <xsd:element name="transactionID" type="xsd:string" minOccurs="0"/>
            <xsd:element name="amount" type="tns:amount" minOccurs="0"/>
            <xsd:element name="dateTime" type="tns:dateTime" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PinDebitReversalReply">
        <xsd:sequence>
            <xsd:element name="reasonCode" type="xsd:integer"/>
            <xsd:element name="processorResponse" type="xsd:string" minOccurs="0"/>
            <xsd:element name="reconciliationID" type="xsd:string" minOccurs="0"/>
            <xsd:element name="amount" type="tns:amount" minOccurs="0"/>
            <xsd:element name="dateTime" type="tns:dateTime" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
	<xsd:complexType name="CCAuthReversalReply">
		<xsd:sequence>
			<xsd:element name="reasonCode" type="xsd:integer"/>
			<xsd:element name="amount" type="tns:amount" minOccurs="0"/>
			<xsd:element name="authorizationCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="processorResponse" type="xsd:string" minOccurs="0"/>
			<xsd:element name="requestDateTime" type="tns:dateTime" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VoidReply">
		<xsd:sequence>
			<xsd:element name="reasonCode" type="xsd:integer"/>
			<xsd:element name="requestDateTime" type="tns:dateTime" minOccurs="0"/>
			<xsd:element name="amount" type="tns:amount" minOccurs="0"/>
			<xsd:element name="currency" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReplyMessage">
		<xsd:sequence>
			<xsd:element name="merchantReferenceCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="requestID" type="xsd:string"/>
			<xsd:element name="decision" type="xsd:string"/>
			<xsd:element name="reasonCode" type="xsd:integer"/>
			<xsd:element name="missingField" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="invalidField" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="requestToken" type="xsd:string"/>
			<xsd:element name="purchaseTotals" type="tns:PurchaseTotals" minOccurs="0"/>
			<xsd:element name="ccAuthReply" type="tns:CCAuthReply" minOccurs="0"/>
			<xsd:element name="ccCaptureReply" type="tns:CCCaptureReply" minOccurs="0"/>
			<xsd:element name="ccCreditReply" type="tns:CCCreditReply" minOccurs="0"/>
			<xsd:element name="ccAuthReversalReply" type="tns:CCAuthReversalReply" minOccurs="0"/>
			<xsd:element name="voidReply" type="tns:VoidReply" minOccurs="0"/>
	            <xsd:element name="pinDebitPurchaseReply" type="tns:PinDebitPurchaseReply" minOccurs="0"/>
      	      <xsd:element name="pinDebitCreditReply" type="tns:PinDebitCreditReply" minOccurs="0"/>
            	<xsd:element name="pinDebitReversalReply" type="tns:PinDebitReversalReply" minOccurs="0"/>
			<xsd:element name="receiptNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="additionalData" type="xsd:string" minOccurs="0"/>
			<xsd:element name="promotion" type="tns:Promotion" minOccurs="0" /> 
			<xsd:element name="emvReply" type="tns:EmvReply" minOccurs="0"/>
          	  	<xsd:element name="card" type="tns:Card" minOccurs="0" />
            	<xsd:element name="paymentNetworkToken" type="tns:PaymentNetworkToken" minOccurs="0"/>
            	<xsd:element name="reserved" type="tns:ReplyReserved" minOccurs="0"/>			
            <!--ReplyReserved should always be the last element in the xsd, new elements should be added before this-->
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="requestMessage" type="tns:RequestMessage">
		<xsd:unique name="unique-item-id">
			<xsd:selector xpath="tns:item"/>
			<xsd:field xpath="@id"/>
		</xsd:unique>
	</xsd:element>
	<xsd:element name="replyMessage" type="tns:ReplyMessage">
		<xsd:unique name="unique-tax-item-id">
			<xsd:selector xpath="tns:taxReplyItem"/>
			<xsd:field xpath="@id"/>
		</xsd:unique>
	</xsd:element>
	<xsd:element name="nvpRequest" type="xsd:string"/>
	<xsd:element name="nvpReply" type="xsd:string"/>
	<!-- used in SOAP faults -->
	<xsd:complexType name="FaultDetails">
		<xsd:sequence>
			<xsd:element name="requestID" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="faultDetails" type="tns:FaultDetails"/>
	<xsd:complexType name="Pos">
		<xsd:sequence>
			<xsd:element name="entryMode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cardPresent" type="xsd:string" minOccurs="0"/>
			<xsd:element name="terminalCapability" type="xsd:string" minOccurs="0"/>
			<xsd:element name="trackData" type="xsd:string" minOccurs="0"/>
			<xsd:element name="terminalID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="catLevel" type="xsd:string" minOccurs="0"/>
          		<xsd:element name="serviceCode" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Installment">
		<xsd:sequence>
			<xsd:element name="sequence" type="xsd:string" minOccurs="0"/>
			<xsd:element name="totalCount" type="xsd:string" minOccurs="0"/>
			<xsd:element name="totalAmount" type="xsd:string" minOccurs="0"/>
			<xsd:element name="frequency" type="xsd:string" minOccurs="0"/>
			<xsd:element name="amount" type="xsd:string" minOccurs="0"/>
	                <xsd:element name="planType" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReplyReserved">
		<xsd:sequence>
			<xsd:any processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RequestReserved">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string"/>
			<xsd:element name="value" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--  EMV transaction data request/reply start  -->
		<xsd:complexType name="EmvRequest">
		   <xsd:sequence>
			<xsd:element name="combinedTags" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cardSequenceNumber" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="EmvReply">
			<xsd:sequence>
			<xsd:element name="combinedTags" type="xsd:string" minOccurs="0"/>
		   </xsd:sequence>
		</xsd:complexType>
	<!--  EMV transaction data request/reply end  -->
</xsd:schema>